# Group and Merge Data

In [1]:
import pandas as pd

In [2]:
player_info = pd.read_csv("./data/bballPlayers.csv")
positions = ["G", "G-F", "F-G", "F", "F-C", "C-F", "C"]
player_info.pos = pd.Categorical(player_info.pos, positions)
player_info.dropna(inplace=True)
player_info.head()

    playerID                 name  pos  height  weight
0  abdulka01  Kareem Abdul-Jabbar    C    85.0   225.0
1  abdulma02   Mahmoud Abdul-Rauf    G    73.0   162.0
2  abdulza01      Zaid Abdul-Aziz  C-F    81.0   230.0
3  adamsal01          Alvan Adams  C-F    81.0   210.0
4  adamsmi01        Michael Adams    G    70.0   162.0

In [3]:
all_stats = pd.read_csv("./data/bballStats.csv")
all_stats.drop(all_stats.columns[18:], axis=1, inplace=True)
all_stats.head()

,playerID,GP,minutes,points,oRebounds,dRebounds,rebounds,assists,steals,blocks,turnovers,PF,fgAttempted,fgMade,ftAttempted,ftMade,threeAttempted,threeMade
0,abdulma02,67,1505,942,34,87,121,206,55,4,110,149,1009,417,98,84,100,24
1,adamsmi01,66,2346,1752,58,198,256,693,147,6,240,162,1421,560,529,465,564,167
2,aguirma01,78,2006,1104,134,240,374,139,47,20,128,209,909,420,317,240,78,24
3,aingeda01,80,1710,890,45,160,205,285,63,13,100,195,714,337,138,114,251,102
4,andergr01,26,247,70,26,49,75,3,8,9,22,29,73,27,28,16,1,0

The [groupby()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html#pandas-dataframe-groupby) allows to perform grouped calculations.

In [4]:
player_stats = all_stats.groupby(by='playerID').sum()
player_stats.head()

,GP,minutes,points,oRebounds,dRebounds,rebounds,assists,steals,blocks,turnovers,PF,fgAttempted,fgMade,ftAttempted,ftMade,threeAttempted,threeMade
playerID,,,,,,,,,,,,,,,,,
abdulma02,586,15628,8553,219,868,1087,2079,487,46,963,1106,7943,3514,1161,1051,1339,474
abdursh01,830,28878,15028,1869,4370,6239,2109,820,638,2134,2324,11515,5434,4943,4006,519,154
adamsmi01,334,10749,5346,216,824,1040,2455,532,30,845,676,4414,1799,1501,1290,1475,458
aguirma01,243,5503,2871,272,606,878,473,136,46,371,578,2466,1109,748,547,325,106
aingeda01,383,8397,3798,187,620,807,1137,308,48,443,813,3079,1391,638,528,1311,488

We can combine, or join, two DataFrames by matching up rows with the same key variable values. The key variable playerID can be used to join the data from playerInfo and playerStats.
The [join(how='inner')](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.join.html#pandas-dataframe-join) function joins two DataFrames, and includes only observations whose key variable values appear in both DataFrames.

In [5]:
data = player_info.join(player_stats, on='playerID', how='inner')
data.head()

,playerID,name,pos,height,weight,GP,minutes,points,oRebounds,dRebounds,...,steals,blocks,turnovers,PF,fgAttempted,fgMade,ftAttempted,ftMade,threeAttempted,threeMade
1,abdulma02,Mahmoud Abdul-Rauf,G,73.0,162.0,586,15628,8553,219,868,...,487,46,963,1106,7943,3514,1161,1051,1339,474
4,adamsmi01,Michael Adams,G,70.0,162.0,334,10749,5346,216,824,...,532,30,845,676,4414,1799,1501,1290,1475,458
5,aguirma01,Mark Aguirre,F-G,78.0,232.0,243,5503,2871,272,606,...,136,46,371,578,2466,1109,748,547,325,106
6,aldrila01,LaMarcus Aldridge,F,83.0,240.0,379,13183,6547,1066,1760,...,303,386,547,1084,5467,2689,1495,1152,76,17
7,alexaco02,Courtney Alexander,G,77.0,205.0,187,4067,1690,124,285,...,111,18,203,377,1552,655,417,339,121,41